<body>
  <section class="hero">
    <header id="header">
      <img id="logo" src="..\assets\images\navbar-logo.png" alt="">
    </header>
    <header class="hero-header">
      <p>ABOUT</p>
      <h1 class="hero-title">JOHANNAH</h1>
    </header>
    <footer class="hero-footer">
    </footer>
  </section>
  <div class="carousel">
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <img href="https://github.com/johannah-gutierrez/johannah-gutierrez.github.io/blob/main/src/assets/images/about-myprofile.png">
        </div>
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img href="https://github.com/johannah-gutierrez/johannah-gutierrez.github.io/blob/main/src/assets/images/about-video-editing-comparison.gif">
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <video href="https://github.com/johannah-gutierrez/johannah-gutierrez.github.io/blob/main/src/assets/images/about-thesis.mp4" autoplay loop muted></video>
        </div>
        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-1" class="carousel-control next control-3">›</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>
  <article>
    <h2>What's up?</h2>
    <p>Meet Johannah, a driven and passionate senior computer engineering student who is on track to achieve magna cum laude status.</p>
    <p>In addition to excelling academically, Johannah is an active member of charitable organizations such as Rotaract, demonstrating their commitment to making a positive impact on the community.</p>
    <p>As a computer engineering student, Johannah has honed their skills in programming, data structures, and algorithms, preparing them for a successful career in the tech industry.</p>
    <p>With their dedication to academic excellence, involvement in community service, and strong technical skills, Johannah is poised to achieve great things and make a positive impact in the world.    </p>
  </article>
</body>
