<body>
  <section class="hero">
    <header id="header">
      <img id="logo" src="..\assets\images\JGUTZ.png" alt="">
    </header>
    <div class="formcontainer">
      <div class="contact-form">
        <span class="heading">Contact Me</span>
        <form>
          <label for="name">Name:</label>
          <input type="text" required="">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required="">
          <label for="message">Message:</label>
          <textarea id="message" name="message" required=""></textarea>
          <button type="submit" (click)="showAlert()">Submit</button>
        </form>
      </div>
    </div>
    <header class="hero-header">
      <p>CONTACT</p>
      <h1 class="hero-title">FORM</h1>
    </header>
    <footer class="hero-footer">
    </footer>
  </section>
  <article>
    <h2>Get in touch with me!</h2>
    <p>I'm always happy to hear constructive criticism. Whether you have a question, feedback, or anything at all, I appreciate you for sending a message.</p>
    <p>I am dedicated in providing the best possible experience and I value your input! You can reach me via my email, phone number, or by filling out the form above.</p>
    <p>I will do my best in getting back to you as soon as I can.</p>
    <p>I look forward to hearing from you.</p>
  </article>
</body>
