<head>
  <script src="https://kit.fontawesome.com/66621bbf76.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
</head>

<header>
  <app-nav-bar></app-nav-bar>
</header>

<body>
  <router-outlet></router-outlet>
  <a href="https://drive.google.com/file/d/1sy56vt6VH4KlhaDl8KGGGYT5YE95cDD8/view?usp=sharing" download>
    <button class="cta" download="#">
      <span>Download CV</span>
      <svg viewBox="0 0 13 10" height="10px" width="15px">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </button>

  </a>

</body>

<footer>
  <app-footer></app-footer>
</footer>
