<body>
  <section class="hero">
    <header id="header">
      <img id="logo" src="..\assets\images\JGUTZ.png" alt="">
    </header>
    <header class="hero-header">
      <p>MY</p>
      <h1 class="hero-title">SERVICES</h1>
    </header>
    <footer class="hero-footer">
    </footer>
  </section>
<div class="container">
  <input type="radio" name="slider" id="item-1" checked>
  <input type="radio" name="slider" id="item-2">
  <input type="radio" name="slider" id="item-3">
<div class="cards">
  <label class="card" for="item-1" id="song-1">
    <img src="https://images.unsplash.com/photo-1551302175-952301267d19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="song">
  </label>
  <label class="card" for="item-2" id="song-2">
    <img src="https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="song">
  </label>
  <label class="card" for="item-3" id="song-3">
    <img src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="song">
  </label>
</div>
<div class="player">
  <div class="upper-part">
    <div class="play-icon">
      <svg width="20" height="20" fill="#ff9100" stroke="#ff9100" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-play" viewBox="0 0 24 24">
        <defs/>
        <path d="M5 3l14 9-14 9V3z"/>
      </svg>
    </div>
    <div class="info-area" id="test">
      <label class="song-info" id="song-info-1">
        <div class="title">Video Editing</div>
        <div class="sub-line">
          <div class="subtitle">Adobe Premiere Pro and AfterEffects</div>
          <div class="time">4.05</div>
        </div>
      </label>
      <label class="song-info" id="song-info-2">
        <div class="title">Coding</div>
        <div class="sub-line">
          <div class="subtitle">Front and Back End</div>
          <div class="time">4.05</div>
        </div>
      </label>
      <label class="song-info" id="song-info-3">
        <div class="title">Documents</div>
        <div class="sub-line">
          <div class="subtitle">Formalizing Papers and Administrative Work</div>
          <div class="time">4.05</div>
        </div>
      </label>
    </div>
  </div>
  <div class="progress-bar">
    <span class="progress"></span>
  </div>
</div>
</div>

<article>
  <h2>What do I offer</h2>
  <p>With my video editing expertise using Adobe Premiere Pro and After Effects, I can transform your raw footage into a stunning, professional-grade visual masterpiece.</p>
  <p>If you need coding services, I can help you with Angular and Java to develop high-quality software solutions tailored to your needs.</p>
  <p>Let me take care of your document and presentation needs with my excellent writing and design skills that will help you stand out from the competition.</p>
  <p>Whether it's video editing, coding, or creating documents and presentations, my services are designed to provide you with high-quality, customized solutions that meet your specific requirements.  </p>
</article>
</body>
