<body>
<section class="hero">
  <header id="header">
    <img id="logo" src="..\assets\images\JGUTZ.png" alt="">
  </header>
  <header class="hero-header">
    <p>Technical Writer | Documentarian | Post Production Specialist</p>
    <h1 class="hero-title">GUTIERREZ</h1>
  </header>
  <footer class="hero-footer">
  </footer>
</section>
<article>
  <h2>Hey There!</h2>
  <p>I'm Johannah Gutierrez. A senior computer engineering student at STI College San Fernando. I love to explore my creativity. Right now I'm exploring and learning about Angular at DitoSoft. I do my best to attain the desired output.</p>
  <p>Our thesis at STI College San Fernando right now is a Firefighter Robot: Autonomous Residential Fire Suppression System.</p>
  <p>It's a robot you leave at home when you leave for work or trips and if a fire occurs when you aren't home, the robot will utilize the fire extinguisher that is loaded into it.</p>
  <p>I hope we have an opportunity to work together.</p>
</article>
</body>
